---
#
# This play book allows stackato user to sudo without password
# and set the password  to {{stackato_password}}
#
      - hosts: all
        sudo: True
        vars: 
        - ansible_sudo_pass: stackato
        tasks:

        - name: Copy sudoers file for safety
          command: cp -f /etc/sudoers /etc/sudoers.tmp  

        - name: backup the sudoers file
          command: cp -f /etc/sudoers /etc/sudoers.bak

        - name: make sure we can sudo as stackato user
          lineinfile: "dest=/etc/sudoers.tmp state=present regexp='^stackato' line='stackato ALL=(ALL) NOPASSWD : ALL'"

        - name: also make sure ssh-agent works via sudo
          lineinfile: dest=/etc/sudoers.tmp state=present regexp='^Defaults env_keep\+\=SSH_AUTH_SOCK' line='Defaults env_keep+=SSH_AUTH_SOCK'

        - name: install new sudoer file
          shell: visudo -q -c -f /etc/sudoers.tmp && cp -f /etc/sudoers.tmp /etc/sudoers ; rm /etc/sudoers.tmp

        - name: change stackato password
          shell: "(echo '{{stackato_password}}'; echo '{{stackato_password}}' ) | passwd stackato"
